<ion-header>
  <ion-toolbar>
    <ion-title>HomePromptPay</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item color="tertiary" button>
      <ion-label>QR29</ion-label>
    </ion-item>
    <ion-item color="tertiary" button>
      <ion-label>QR30 มีเงิน แก้ได้</ion-label>
    </ion-item>
    <ion-item color="tertiary" button>
      <ion-label>QR30 มีเงิน แก้ได้</ion-label>
    </ion-item>
    <ion-item color="tertiary" button>
      <ion-label>QR30 ใส่เงินเอง</ion-label>
    </ion-item>
    <ion-item color="tertiary" button routerLink="/account-select">
      <ion-label>โอน PPay </ion-label>
    </ion-item>
    <ion-item color="tertiary" button>
      <ion-label>โอน PPay ใส่เงิน M3 แก้ได้</ion-label>
    </ion-item>
    <ion-item color="tertiary" button>
      <ion-label>โอน PPay ใส่เงิน M3 แก้ไม่ได้</ion-label>
    </ion-item>
    <ion-item color="tertiary" button>
      <ion-label>โอน PPay ไม่ใส่เงิน</ion-label>
    </ion-item>
    <ion-item color="tertiary" button>
      <ion-label>โอน Bank ใส่เงิน แก้ได้</ion-label>
    </ion-item>
    <ion-item color="tertiary" button>
      <ion-label>โอน Bank ใส่เงิน แก้ไม่ได้</ion-label>
    </ion-item>
    <ion-item color="tertiary" button>
      <ion-label>โอน Bank ไม่ใส่เงิน</ion-label>
    </ion-item>
  </ion-list>
</ion-content>