<ion-header>
  <ion-toolbar>
    <ion-title>แปลงสกุลเงิน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <div *ngIf="this.fg.get('Type').value=='alipay'">
    <ion-list class="ion-margin-top" lines="full">
      <ion-item color="tertiary" lines="none">
        <ion-label for="customInputAmount">
          <h2><b>จาก</b></h2>
        </ion-label>
      </ion-item>
      <ion-item color="tertiary" lines="none">
        <img slot="start" width="22" height="22" class="qr" src="assets/imgs/walletgray.png" />
        <ion-col class="ion-no-padding">
          <ion-label color="medium">
            <h3 class="line-height2">Raybag.....</h3>
          </ion-label>
        </ion-col>
        <ion-col class="ion-no-padding ion-text-right">
          <ion-label color="medium">
            <h3><B>100K <small>THB </small></B></h3>
          </ion-label>
        </ion-col>
      </ion-item>
    </ion-list>

    <ion-list class="ion-margin-top" lines="full">
      <ion-item color="tertiary" lines="none">
        <ion-label>
          <h2><b>ไปยัง</b></h2>
        </ion-label>
      </ion-item>
      <ion-item color="tertiary" lines="full">
        <ion-avatar slot="start" class="avatar-s ion-margin-bottom">
          <img src="assets/imgs/alipay.png">
        </ion-avatar>
        <ion-label>
          <h2><b>Alipay</b></h2>
        </ion-label>
      </ion-item>

      <ion-item color="tertiary" lines="none">
        <ion-label>
          <h2>สกุลเงินต้นทาง</h2>
        </ion-label>
      </ion-item>
      <ion-item color="tertiary" lines="full">
        <ion-label color="danger" class="ion-text-center">
          <h2><b>525.00 <small>THB </small></b></h2>
        </ion-label>
      </ion-item>

      <ion-item color="tertiary" lines="none">
        <ion-col class="ion-no-padding">
          <ion-label>
            <h2>สกุลเงินปลายทาง</h2>
          </ion-label>
        </ion-col>
        <ion-col class="ion-no-padding ion-text-right">
          <ion-label color="medium">
            <h3>+ ค่าธรรมเนียม 5.00 CNY</h3>
          </ion-label>
        </ion-col>
      </ion-item>
      <ion-item color="tertiary" lines="full">
        <ion-label color="danger" class="ion-text-center">
          <h2><b>105.00 <small>CNY </small></b></h2>
        </ion-label>
      </ion-item>

      <ion-item color="tertiary" lines="none">
        <ion-label color="medium" class="ion-text-center">
          <h3>1 CNY ~ 5.00 THB</h3>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-list class="ion-margin-top" lines="full">
      <ion-item color="tertiary" lines="none">
        <ion-label>
          <h2><b>เพิ่มเติม</b></h2>
        </ion-label>
      </ion-item>
      <ion-item color="tertiary" lines="full">
        <ion-label>
          <h2><b>Ref.</b> &nbsp;<ion-text color="medium">2345678901</ion-text>
          </h2>
        </ion-label>
      </ion-item>
      <ion-item color="tertiary" lines="none">
        <ion-label>
          <h2><b>หมายเหตุ</b></h2>
        </ion-label>
      </ion-item>
      <ion-item color="tertiary" lines="none">
        <ion-label type="text"  rows="1">{{this.fg.get('Remark').value}}</ion-label>
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="this.fg.get('Type').value=='crypto'">
    <ion-list class="ion-margin-top" lines="full">
      <ion-item color="tertiary" lines="none">
        <ion-label for="customInputAmount">
          <h2><b>จาก</b></h2>
        </ion-label>
      </ion-item>
      <ion-item color="tertiary" lines="none">
        <img slot="start" width="22" height="22" class="qr" src="assets/imgs/walletgray.png" />
        <ion-col class="ion-no-padding">
          <ion-label color="medium">
            <h3 class="line-height2">Raybag.....</h3>
          </ion-label>
        </ion-col>
        <ion-col class="ion-no-padding ion-text-right">
          <ion-label color="medium">
            <h3><B>100K <small>THB </small></B></h3>
          </ion-label>
        </ion-col>
      </ion-item>
    </ion-list>

    <ion-list class="ion-margin-top" lines="full">
      <ion-item color="tertiary" lines="none">
        <ion-label>
          <h2><b>ไปยัง</b></h2>
        </ion-label>
      </ion-item>
      <ion-item color="tertiary" lines="full">
        <ion-avatar slot="start" class="avatar-s ion-margin-bottom">
          <img src="assets/imgs/crypto.png">
        </ion-avatar>
        <ion-label>
          <h2><b>Bitcoin Network</b></h2>
        </ion-label>
      </ion-item>

      <ion-item color="tertiary" lines="none">
        <ion-label>
          <h2>สกุลเงินต้นทาง</h2>
        </ion-label>
      </ion-item>
      <ion-item color="tertiary" lines="full">
        <ion-label color="danger" class="ion-text-center">
          <h2><b>1,040,000.00 <small>THB </small></b></h2>
        </ion-label>
      </ion-item>

      <ion-item color="tertiary" lines="none">
        <ion-col class="ion-no-padding">
          <ion-label>
            <h2>สกุลเงินปลายทาง</h2>
          </ion-label>
        </ion-col>
        <ion-col class="ion-no-padding ion-text-right">
          <ion-label color="medium">
            <h3>+ ค่าธรรมเนียม 0.04 BTC</h3>
          </ion-label>
        </ion-col>
      </ion-item>
      <ion-item color="tertiary" lines="full">
        <ion-label color="danger" class="ion-text-center">
          <h2><b>1.04 <small>BTC </small></b></h2>
        </ion-label>
      </ion-item>

      <ion-item color="tertiary" lines="none">
        <ion-label color="medium" class="ion-text-center">
          <h3>1 BTC ~ 1,000,000.00 THB</h3>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-list class="ion-margin-top" lines="full">
      <ion-item color="tertiary" lines="none">
        <ion-label>
          <h2><b>เพิ่มเติม</b></h2>
        </ion-label>
      </ion-item>
      <ion-item color="tertiary" lines="full">
        <ion-label>
        <div>
          <h2><b>Address</b> &nbsp; <ion-text color="medium">Oxf7890105ce5637789FF355C6ea</ion-text></h2>
          <h2><b>Network</b>  &nbsp; <ion-text color="medium">Mainchain</ion-text></h2>
    </div>
      </ion-label>
      </ion-item>


      <ion-item color="tertiary" lines="none">
        <ion-label>
          <h2><b>หมายเหตุ</b></h2>
        </ion-label>
      </ion-item>
      <ion-item color="tertiary" lines="none">
        <ion-label type="text" rows="1">มีหยังก้ใสมาหมายเหตุในฝัน</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <form (ngSubmit)="onSave()">
  <ion-button id="app-form-submit" color="danger" class="ion-no-margin" expand="full" type="submit">ตกลง
  </ion-button>
  </form>
</ion-footer>