<ion-content mode="ios">

  <ion-card color="tertiary">
    <ion-card-content>
      <div class="ion-text-center">
        <img class="circle logo-l" src="assets/imgs/defaultshop.png" />
      </div>
      <br>
      <ion-label color="dark">
        <h1 class="ion-margin-top ion-text-center"><b>ชื่อร้านค้า</b></h1>
      </ion-label>
      <br>
      <div class="text-indent">ข้อกำหนดและเงื่อนไขการใช้บริการของ ร้านค้า
        <br>
        <br>
        <div class="text-indent">1. ข้อกำหนด แรก</div>
        <div class="text-indent">2. ข้อกำหนด สอง</div>
        <br>
        <div class="text-indent">ทั้งนี้ ข้าพเจ้าตกลงและยินยอม ตามข้อกำหนดและเงื่อนไขของบริษัทที่กำหนดทุกประการ
          และข้าพเจ้าขอรับรองว่าข้อมูลที่ข้าพเจ้ากรอกนั้นเป็นข้อมูลที่ถูกต้องและเป็นปัจจุบัน</div>
        <br>
        <div>หมายเหตุ : หากคุณไม่ให้ความยินยอม คุณจะไม่สามารถใช้ หรือเปลี่ยนแปลงบริการนี้ได้
          เนื่องจากการบริษัทจำเป็นจะพิสูจน์และยืนยันตัวตนของคุณ ตามกำหนดของทางการ</div>
        <br>
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>
<ion-footer>
  <ion-button color="danger" class="ion-no-margin" expand="full" type="submit">ยอมรับ</ion-button>
</ion-footer>