<ion-header>
  <ion-toolbar>
    <ion-title>listpromptpay</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <!-- <ion-item color="tertiary" routerLink="/account-select" (click)="gono888()">
      <ion-label>มีรายละเอียดในหน้าสั่งซื้อแบบมาๆหายๆ</ion-label>
    </ion-item>
    <ion-item color="tertiary" routerLink="/account-select" (click)="gono999()">
      <ion-label>มีรายละเอียดในหน้าสั่งซื้อแบบ accordion</ion-label>
    </ion-item> -->
    <ion-item color="tertiary" routerLink="/account-select" (click)="gono1()">
      <ion-label>1. QR29 ไม่ระบุจำนวนเงินมา ให้กรอกเอง</ion-label>
    </ion-item>
    <ion-item color="tertiary" routerLink="/account-select" (click)="gono2()">
      <ion-label>2. QR29 ระบุจำนวนเงินมาแก้ไขไม่ได้</ion-label>
    </ion-item>
    <ion-item color="tertiary" routerLink="/account-select" (click)="gono3()">
      <ion-label>3. QR29 ระบุจำนวนเงินมาแก้ไขได้</ion-label>
    </ion-item>
    <ion-item color="tertiary" routerLink="/account-select" (click)="gono4()">
      <ion-label>4. QR30 ไม่ระบุจำนวนเงินมา ให้กรอกเอง</ion-label>
    </ion-item>
    <ion-item color="tertiary" routerLink="/account-select" (click)="gono5()">
      <ion-label>5. QR30 ระบุจำนวนเงินมาแก้ไขไม่ได้ </ion-label>
    </ion-item>
    <ion-item color="tertiary" routerLink="/account-select" (click)="gono6()">
      <ion-label>6. QR30 ระบุจำนวนเงินมาแก้ไขได้</ion-label>
    </ion-item>
    <ion-item color="tertiary" routerLink="/account-select" (click)="gono7()">
      <ion-label>7. QR ของ PA ไม่ระบุจำนวนเงินมา ให้กรอกเอง</ion-label>
    </ion-item>
    <ion-item color="tertiary" routerLink="/account-select" (click)="gono8()">
      <ion-label>8. QR ของ BA ไม่ระบุจำนวนเงินมา ให้กรอกเอง</ion-label>
    </ion-item>
    <ion-item color="tertiary" routerLink="/account-select" (click)="gono9()">
      <ion-label>9. QR Alipay ไม่ระบุจำนวนเงินมา ให้กรอกเอง</ion-label>
    </ion-item>
    <ion-item color="tertiary" routerLink="/account-select" (click)="gono10()">
      <ion-label>10. จ่ายให้Cryptoไม่ระบุจำนวนเงินมาให้กรอกเอง</ion-label>
    </ion-item>
    <ion-item color="tertiary" routerLink="/account-select" (click)="gono11()">
      <ion-label>11. PromptPay ไม่ระบุจำนวนเงินมา ให้กรอกเอง</ion-label>
    </ion-item>
    <ion-item color="tertiary" routerLink="/account-select" (click)="gono12()">
      <ion-label>12. Bank account ไม่ระบุจำนวนเงินมา ให้กรอกเอง</ion-label>
    </ion-item>
    <!-- <ion-item color="tertiary" routerLink="/account-select" (click)="gono13()">
      <ion-label>13. xxx</ion-label>
    </ion-item> -->
  </ion-list>
</ion-content>