<ion-content mode="ios">

  <ion-list lines="none">
    <ion-item color="tertiary">
      <ion-avatar class="avatar-s" slot="start">
        <img src="assets/imgs/defaultshop.png" />
      </ion-avatar>
      <ion-label>
        <h2><b>ชื่อบริษัทขนส่งสินค้า</b></h2>
      </ion-label>
      <ion-label slot="end" color="medium" class="ion-text-end">
        <h3>เปลี่ยน</h3>
      </ion-label>
    </ion-item>

    <ion-item color="tertiary" class="ion-padding-vertical">
      <ion-avatar slot="start" class="avatar-m">
        <img src="assets/imgs/defaultshop.png">
      </ion-avatar>
      <ion-label>
        <h2><b>ชื่อร้านค้า</b></h2>
      </ion-label>
      <ion-button class="no-shadow ion-no-margin" mode="md" color="danger" size="small" shape="round" slot="end">
        <ion-label class="ion-margin">
          + เพิ่มสินค้า
        </ion-label>
      </ion-button>
    </ion-item>

    <ion-card color="tertiary">
      <ion-card-content class="ion-no-padding">
        <ion-item class="ion-no-padding" color="tertiary" lines="none">
          <ion-grid class="ion-padding">
            <ion-row>
              <ion-col class="ion-no-padding">
                <ion-label>
                  <h3 class="line-height2"><b>รายละเอียดการจ่ายเงิน</b></h3>
                </ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-no-padding">
                <ion-label color="medium">
                  <h3 class="line-height2">รวมค่าสินค้า</h3>
                </ion-label>
              </ion-col>
              <ion-col class="ion-no-padding ion-text-right">
                <ion-label color="medium">
                  <h3>20.00
                    <small>THB</small>
                  </h3>
                </ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-no-padding">
                <ion-label color="medium">
                  <h3 class="line-height2">ค่าจัดส่ง</h3>
                </ion-label>
              </ion-col>
              <ion-col class="ion-no-padding ion-text-right">
                <ion-label color="medium">
                  <h3>20.00
                    <small>THB</small>
                  </h3>
                </ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-no-padding">
                <ion-label color="medium">
                  <h3 class="line-height2">ส่วนลด</h3>
                </ion-label>
              </ion-col>
              <ion-col class="ion-no-padding ion-text-right">
                <ion-label color="medium">
                  <h3>5.00
                    <small>THB</small>
                  </h3>
                </ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-no-padding">
                <ion-label color="medium">
                  <h3 class="line-height2">ราคารวมทั้งหมด</h3>
                </ion-label>
              </ion-col>
              <ion-col class="ion-no-padding ion-text-right">
                <ion-text color="danger">
                  <ion-label>
                    <h3>
                      <b>35.00
                        <small>THB</small>
                      </b>
                    </h3>
                  </ion-label>
                </ion-text>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

        <ion-item color="tertiary" class="ion-no-padding">
          <ion-label class="ion-padding-start" color="medium">
            <h3>
              ใส่คูปองหรือแต้ม
            </h3>
          </ion-label>
          <ion-fab horizontal="end">
            <ion-fab-button class="fab-small" size="small" color="danger">
              <ion-icon color="light" name="add"></ion-icon>
            </ion-fab-button>
            <ion-fab-list side="start">
              <ion-fab-button class="fab-small">
                <ion-icon name="wallet"></ion-icon>
              </ion-fab-button>
              <ion-fab-button class="fab-small">
                <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
              </ion-fab-button>
            </ion-fab-list>
          </ion-fab>
        </ion-item>
      </ion-card-content>
    </ion-card>

  </ion-list>

  <ion-list class="ion-margin-top" lines="full">
    <ion-item class="ion-no-padding" color="tertiary" lines="none">
      <ion-label class="ion-padding-start">
        <h3><b>รายการที่สั่ง (2 ชิ้น)</b></h3>
      </ion-label>
    </ion-item>

    <ion-item color="tertiary" class="ion-no-padding">
      <ion-grid class="ion-no-padding text-hidden">

        <ion-row class="ion-no-padding ion-align-items-center ion-padding-top">
          <ion-col justify-content-center align-items-center class="ion-no-padding " size="auto"
            class="ion-text-center ion-padding-start">
            <img class="logo-l" src="assets/imgs/defaultshop.png">
          </ion-col>

          <ion-col class="ion-padding-start">
            <ion-row>
              <ion-col size="6">
                <ion-label>
                  <h3>X1 ชื่อสินค้า</h3>
                </ion-label>
              </ion-col>
              <ion-col size="6">
                <ion-label>
                  <h3 class="ion-text-right">
                    <ion-text color="danger" class="line-through">
                      10.00
                    </ion-text>
                    <small>&nbsp;THB</small>
                  </h3>
                </ion-label>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="6">
                <ion-label color="danger">
                  <h3>รายละเอียดสินค้าเพิ่มเติม</h3>
                </ion-label>
              </ion-col>
              <ion-col size="6">
                <ion-label>
                  <h3 class="ion-text-right">
                    <ion-text>
                      5.00
                    </ion-text>
                    <small>&nbsp;THB</small>
                  </h3>
                </ion-label>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col class="ion-no-padding ion-text-right">
                <ion-label color="medium">
                  <h3>
                    <span>ลบ</span>
                  </h3>
                </ion-label>
              </ion-col>
            </ion-row>

          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item color="tertiary" class="ion-no-padding">
      <ion-grid class="ion-no-padding text-hidden">

        <ion-row class="ion-no-padding ion-align-items-center ion-padding-top">
          <ion-col justify-content-center align-items-center class="ion-no-padding " size="auto"
            class="ion-text-center ion-padding-start">
            <img class="logo-l" src="assets/imgs/defaultshop.png">
          </ion-col>

          <ion-col class="ion-padding-start">
            <ion-row>
              <ion-col size="6">
                <ion-label>
                  <h3>X1 ชื่อสินค้า</h3>
                </ion-label>
              </ion-col>
              <ion-col size="6">
                <ion-label>
                  <h3 class="ion-text-right">
                    <ion-text color="dark">
                      10.00
                    </ion-text>
                    <small>&nbsp;THB</small>
                  </h3>
                </ion-label>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="6">
                <ion-label color="danger">
                  <h3>รายละเอียดสินค้าเพิ่มเติม</h3>
                </ion-label>
              </ion-col>
              <ion-col size="6">
                <ion-label>
                  &nbsp;
                </ion-label>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col class="ion-no-padding ion-text-right">
                <ion-label color="medium">
                  <h3>
                    <span>ลบ</span>
                  </h3>
                </ion-label>
              </ion-col>
            </ion-row>

          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

  </ion-list>

</ion-content>
<ion-footer>
  <ion-button color="danger" class="ion-no-margin" expand="full" type="submit">สั่งสินค้า</ion-button>
</ion-footer>