<ion-header>
  <ion-toolbar>
    <ion-title>ระบุบัญชี</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item color="tertiary" lines="none">
    <ion-label>
      <h2>ระบุเลขพร้อมเพย์
        <!-- <ion-text color="danger">
            ข้อมูลไม่ถูกต้อง
          </ion-text> -->
      </h2>
    </ion-label>
  </ion-item>
  <ion-item color="tertiary" lines="none">
    <ion-input type="tel" placeholder="ระบุเลขพร้อมเพย์"></ion-input>
  </ion-item>
  <ion-button id="app-form-submit" color="danger" class="ion-no-margin" expand="full" type="submit" routerLink="/ppay-payment-creating">ตกลง</ion-button>

</ion-content>