<ion-content mode="ios">

  <ion-card>
    <ion-card-content>
      <h1>
        <ion-text color="danger"><b>คำเตือน</b></ion-text>
      </h1>
      <h2>Prototype จะไม่ใช้การแสดงผลแบบหน้านี้</h2>
      <h2>การแสดงผลในหน้านี้ สำหรับประกอบควมเข้าใจในการทำงานกับ Service เท่านั้น</h2>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <form [formGroup]="fg" (ngSubmit)="onSave()">
      <ion-item lines="full" color="tertiary">
        <ion-label position="stacked">ชื่อหัวข้อ</ion-label>
        <ion-input type="text" formControlName="title"></ion-input>
      </ion-item>
      <ion-item lines="full" color="tertiary">
        <ion-label position="stacked">ที่อยู่</ion-label>
        <ion-input type="text" placeholder="บ้านเลขที่,หมู่,ตึก,ซอย,ถนน" formControlName="streetAddress"></ion-input>
        <ion-input type="text" placeholder="ตำบล" formControlName="district"></ion-input>
        <ion-input type="text" placeholder="อำเภอ" formControlName="city"></ion-input>
        <ion-input type="text" placeholder="จังหวัด" formControlName="province"></ion-input>
        <ion-input type="tel" placeholder="รหัสไปรษณีย์" formControlName="postalCode"></ion-input>
      </ion-item>
      <ion-item lines="full" color="tertiary">
        <ion-label position="stacked">เบอร์ติดต่อ</ion-label>
        <ion-input type="tel" formControlName="phoneNumber"></ion-input>
      </ion-item>
      <ion-item lines="none" color="tertiary">
        <ion-label position="stacked">หมายเหตุ</ion-label>
        <ion-textarea type="text" formControlName="remark"></ion-textarea>
      </ion-item>

      <ion-button color="danger" class="ion-margin" type="submit" fill="outline">
        <ion-icon slot="start" name="cloud-upload"></ion-icon>
        จดจำข้อมูล
      </ion-button>

      <ion-button color="primary" class="ion-margin" type="button" fill="outline" (click)="onLoad()">
        <ion-icon slot="start" name="cloud-download"></ion-icon>
        ดึงข้อมูลที่จดจำ
      </ion-button>

      <ion-button color="dark" class="ion-margin" type="reset" fill="outline">
        <ion-icon slot="start" name="trash"></ion-icon>
        ลบข้อมูลในฟอร์มทิ้ง
      </ion-button>
    </form>
  </ion-list>

</ion-content>