<ion-content mode="ios">

  <ion-list lines="inset">
    <ion-list-header mode="md">
      <ion-label>เลือกรายการ</ion-label>
    </ion-list-header>

    <ion-item color="tertiary">
      <ion-avatar slot="start">
        <img src="assets/imgs/defaultshop.png">
      </ion-avatar>
      <ion-label>
        <b>ชื่อรายการ</b>
        <ion-text color="medium">
          <h3>รายละเอียด</h3>
        </ion-text>
      </ion-label>
      <img width="20" height="20" class="qr" src="assets/imgs/correctblue.png" />
    </ion-item>
    <ion-item color="tertiary">
      <ion-avatar slot="start">
        <img src="assets/imgs/defaultshop.png">
      </ion-avatar>
      <ion-label>
        <b>ชื่อรายการ</b>
        <ion-text color="medium">
          <h3>รายละเอียด</h3>
        </ion-text>
      </ion-label>
      <img width="20" height="20" class="qr" src="assets/imgs/correctgray.png" />
    </ion-item>
    <ion-item color="tertiary">
      <ion-avatar slot="start">
        <img src="assets/imgs/defaultshop.png">
      </ion-avatar>
      <ion-label>
        <b>ชื่อรายการ</b>
        <ion-text color="medium">
          <h3>รายละเอียด</h3>
        </ion-text>
      </ion-label>
      <img width="20" height="20" class="qr" src="assets/imgs/correctgray.png" />
    </ion-item>

  </ion-list>

</ion-content>
<ion-footer>
  <ion-button color="danger" class="ion-no-margin" expand="full" type="submit">ตกลง</ion-button>
</ion-footer>