<ion-content mode="ios">

  <ion-list lines="none">
    <ion-list-header lines="none" mode="md">
      <ion-label>เลือกรายการ</ion-label>
    </ion-list-header>
    <ion-item button class="ion-margin-bottom" color="tertiary">
      <ion-avatar slot="start">
        <img src="assets/imgs/defaultshop.png" />
      </ion-avatar>
      <ion-label>
        <b>ชื่อรายการ</b>
        <ion-text color="medium">
          <h3>
            <img width="12" height="12" src="assets/imgs/defaultshop.png"> รายละเอียด
          </h3>
        </ion-text>
      </ion-label>
    </ion-item>
    <ion-item button class="ion-margin-bottom" color="tertiary">
      <ion-avatar slot="start">
        <img src="assets/imgs/defaultshop.png" />
      </ion-avatar>
      <ion-label>
        <b>ชื่อรายการ</b>
        <ion-text color="medium">
          <h3>
            <img width="12" height="12" src="assets/imgs/defaultshop.png"> รายละเอียด
          </h3>
        </ion-text>
      </ion-label>
    </ion-item>
    <ion-item button class="ion-margin-bottom" color="tertiary">
      <ion-avatar slot="start">
        <img src="assets/imgs/defaultshop.png" />
      </ion-avatar>
      <ion-label>
        <b>ชื่อรายการ</b>
        <ion-text color="medium">
          <h3>รายละเอียด</h3>
        </ion-text>
      </ion-label>
    </ion-item>
    <ion-item button class="ion-margin-bottom" color="tertiary">
      <ion-avatar slot="start">
        <img src="assets/imgs/defaultshop.png" />
      </ion-avatar>
      <ion-label>
        <b>ชื่อรายการ</b>
        <ion-text color="medium">
          <h3>รายละเอียด</h3>
        </ion-text>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>