<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="this.fg.get('Type').value=='QR'">จ่ายเงิน</ion-title>
    <ion-title *ngIf="this.fg.get('Type').value=='PP'|| this.fg.get('Type').value=='Bank'">โอน-จ่าย</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content mode="ios">
  <ng-container>
    <form [formGroup]="fg">
      <ion-list lines="none">
        <ion-item color="tertiary" class="ion-margin-top">
          <!-- <img src="assets/imgs/defaultshop.png" class="logo-l circle center ion-margin-top"> -->
          <img class="logo-l circle center ion-margin-top" src="assets/imgs/PromtPay.png"
            *ngIf="(this.fg.get('Type').value=='QRP' || this.fg.get('Type').value=='QRB'|| this.fg.get('Type').value=='PP')">
          <img class="logo-l circle center ion-margin-top" [src]="this.fg.get('BankLogo').value"
            *ngIf="this.fg.get('Type').value=='Bank'">
          <img class="logo-l circle center ion-margin-top" src="assets/imgs/dogs.jpg"
            *ngIf="this.fg.get('Type').value=='PA'">
          <img class="logo-l circle center ion-margin-top" src="assets/imgs/BeedaDelivery.jpg"
            *ngIf="this.fg.get('Type').value=='BA'">
          <img class="logo-l circle center ion-margin-top" src="assets/imgs/alipay.png"
            *ngIf="this.fg.get('Type').value=='alipay'">
            <img class="logo-l circle center ion-margin-top" src="assets/imgs/crypto.png"
            *ngIf="this.fg.get('Type').value=='crypto'">
        </ion-item>
        <ion-item color="tertiary" class="ion-text-center">
          <ion-label class="ion-no-margin">
            <h2><b>{{this.fg.get('FirstnameTH').value}} {{this.fg.get('LastnameTH').value}}</b></h2>
            <h2 *ngIf="this.fg.get('Type').value!='PA'&&this.fg.get('Type').value!='BA'">
              <b>{{this.fg.get('FirstnameEN').value}} {{this.fg.get('LastnameEN').value}}</b>
            </h2>
          </ion-label>
        </ion-item>
        <!-- <ion-item color="tertiary" lines="none">
        <ion-label for="customInputAmount">
          <h2>จำนวนเงินที่จ่าย</h2>
        </ion-label>
      </ion-item> -->

        <ion-item color="tertiary" lines="full" *ngIf="this.fg.get('Type').value != 'alipay' && this.fg.get('Type').value != 'crypto'">
          <ion-grid class="ion-no-padding">
            <ion-row>
              <ion-col class="ion-no-padding">
                <ion-label>
                  <h3 class="line-height2"><b>รายละเอียดธุรกรรม</b></h3>
                </ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-no-padding">
                <ion-label>
                  <h3 class="line-height2">จำนวนเงิน</h3>
                </ion-label>
              </ion-col>
              <ion-col class="ion-no-padding ion-text-right">
                <ion-label>
                  <h3>{{ this.fg.get('Price').value}}.00 <small>THB</small></h3>
                </ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-no-padding">
                <ion-label>
                  <h3 class="line-height2">ค่าธรรมเนียม</h3>
                </ion-label>
              </ion-col>
              <ion-col class="ion-no-padding ion-text-right">
                <ion-label>
                  <h3>{{fee}}.00 <small>THB</small></h3>
                </ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-no-padding">
                <ion-label>
                  <h3 class="line-height2">ส่วนลด</h3>
                </ion-label>
              </ion-col>
              <ion-col class="ion-no-padding ion-text-right">
                <ion-label>
                  <h3>-{{discount}}.00 <small>THB</small></h3>
                </ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-no-padding">
                <ion-label>
                  <h3 class="line-height2">รวมทั้งหมด</h3>
                </ion-label>
              </ion-col>
              <ion-col class="ion-no-padding ion-text-right">
                <ion-label color="danger">
                  <h3><b>{{this.fg.get('total').value}}.00 <small>THB</small></b></h3>
                </ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

        <ion-item color="tertiary" lines="full" *ngIf="this.fg.get('Type').value == 'alipay'">
          <ion-grid class="ion-no-padding">
            <ion-row>
              <ion-col class="ion-no-padding">
                <ion-label>
                  <h3 class="line-height2"><b>รายละเอียดธุรกรรม</b></h3>
                </ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-no-padding">
                <ion-label>
                  <h3 class="line-height2">จำนวนเงิน</h3>
                </ion-label>
              </ion-col>
              <ion-col class="ion-no-padding ion-text-right">
                <ion-label>
                  <h3>{{ this.fg.get('Price').value}}.00 <small>CNY</small></h3>
                </ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-no-padding">
                <ion-label>
                  <h3 class="line-height2">ค่าธรรมเนียม</h3>
                </ion-label>
              </ion-col>
              <ion-col class="ion-no-padding ion-text-right">
                <ion-label>
                  <h3>{{ this.fg.get('Fee').value}}.00 <small>CNY</small></h3>
                </ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-no-padding">
                <ion-label>
                  <h3 class="line-height2">ส่วนลด</h3>
                </ion-label>
              </ion-col>
              <ion-col class="ion-no-padding ion-text-right">
                <ion-label>
                  <h3>-{{discount}}.00 <small>CNY</small></h3>
                </ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-no-padding">
                <ion-label>
                  <h3 class="line-height2">รวมทั้งหมด</h3>
                </ion-label>
              </ion-col>
              <ion-col class="ion-no-padding ion-text-right">
                <ion-label color="danger">
                  <h3><b>{{this.fg.get('total').value}}.00 <small>CNY</small></b></h3>
                </ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-no-padding">
                <ion-label>
                  <h3 class="line-height2">&nbsp;</h3>
                </ion-label>
              </ion-col>
              <ion-col class="ion-no-padding ion-text-right">
                <ion-label color="medium">
                  <h3>*รวมทั้งหมด (THB)<b> 525.00 <small>THB</small></b></h3>
                </ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

        <ion-item color="tertiary" lines="full" *ngIf="this.fg.get('Type').value == 'crypto'">
          <ion-grid class="ion-no-padding">
            <ion-row>
              <ion-col class="ion-no-padding">
                <ion-label>
                  <h3 class="line-height2"><b>รายละเอียดธุรกรรม</b></h3>
                </ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-no-padding">
                <ion-label>
                  <h3 class="line-height2">จำนวนเงิน</h3>
                </ion-label>
              </ion-col>
              <ion-col class="ion-no-padding ion-text-right">
                <ion-label>
                  <h3>{{ this.fg.get('Price').value}}.00 <small>BTC</small></h3>
                </ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-no-padding">
                <ion-label>
                  <h3 class="line-height2">ค่าธรรมเนียม</h3>
                </ion-label>
              </ion-col>
              <ion-col class="ion-no-padding ion-text-right">
                <ion-label>
                  <h3>{{ this.fg.get('Fee').value}} <small>BTC</small></h3>
                </ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-no-padding">
                <ion-label>
                  <h3 class="line-height2">ส่วนลด</h3>
                </ion-label>
              </ion-col>
              <ion-col class="ion-no-padding ion-text-right">
                <ion-label>
                  <h3>-{{discount}}.00 <small>BTC</small></h3>
                </ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-no-padding">
                <ion-label>
                  <h3 class="line-height2">รวมทั้งหมด</h3>
                </ion-label>
              </ion-col>
              <ion-col class="ion-no-padding ion-text-right">
                <ion-label color="danger">
                  <h3><b>{{this.fg.get('total').value}}.00 <small>BTC</small></b></h3>
                </ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-no-padding">
                <ion-label>
                  <h3 class="line-height2">&nbsp;</h3>
                </ion-label>
              </ion-col>
              <ion-col class="ion-no-padding ion-text-right">
                <ion-label color="medium">
                  <h3>*รวมทั้งหมด (THB)<b> 1,020,000.00 <small>THB</small></b></h3>
                </ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

        <ion-item color="tertiary" lines="full">
          <img slot="start" width="22" height="22" class="qr" src="assets/imgs/walletgray.png" />
          <ion-label class="ion-no-margin">
            <h3>{{this.fg.get('Bagname').value}}....</h3>
          </ion-label>
          <!-- <ion-label slot="end" class="ion-no-margin">
            <h3>เปลี่ยน</h3>
          </ion-label> -->
        </ion-item>
        <!-- 
        <ion-item color="tertiary" lines="full">
          <ion-label class="ion-no-margin">
            <h3>คูปอง {{this.fg.get('Coupon').value}}</h3>
          </ion-label>
          <ion-item [hidden]='hideList'>
            <ion-label>Choose Country</ion-label>
            <ion-select placeholder="Country" #countryList formControlName="Coupon">
              <ion-select-option value="ส่วนลด 20 THB">ส่วนลด 20 THB</ion-select-option>
              <ion-select-option value="ส่วนลด 50 THB">ส่วนลด 50 THB</ion-select-option>
              <ion-select-option value="คูปองเฉยๆ">คูปองเฉยๆ</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-fab-button class="fab-small" size="small" color="danger">
            <ion-icon color="light" name="add" (click)="selectcoupon()">
            </ion-icon>
          </ion-fab-button>
        </ion-item> -->
        <!-- xxxxx -->

        <div formArrayName="Coupon">

          <ion-item color="tertiary" lines="none" *ngIf="checkCo.length < 1">
            <ion-label class="ion-no-margin">
              <h3>ไม่มีคูปอง </h3>
            </ion-label>
          </ion-item>

          <ion-item color="tertiary" lines="none" *ngIf="checkCo.length > 0">
            <ion-label class="ion-no-margin">
              <h3>คูปอง </h3>
            </ion-label>
          </ion-item>
          <ion-list *ngFor="let item of fg.get('Coupon')['controls']; let i=index">
            <ion-item color="tertiary" lines="none" class="ion-no-padding" *ngIf="item.value.checkuse == true">
              <ion-col class="ion-no-padding" size="0.3">
              </ion-col>

              <ion-col class="ion-no-padding" size="1">
                <img class="logo-s circle" src="assets/imgs/coupon-small-red.png">
              </ion-col>
              <ion-col class="ion-padding">
                <ion-label style="color: black;">
                  <h3 class="line-height2">{{item.value.name}}</h3>
                </ion-label>
              </ion-col>
              <ion-col class="ion-padding ion-text-right">
                <!-- <ion-label (click)="deletecoupon(i)" style="color: lightgray;">
                  <h3>ลบ</h3>
                </ion-label> -->
              </ion-col>
            </ion-item>
          </ion-list>
        </div>
      </ion-list>

      <ion-item class="ion-margin-top" lines="none" color="tertiary"
        *ngIf="this.fg.get('Type').value!='PA'&&this.fg.get('Type').value!='BA'">
        <ion-label for="customInputAmount">
          <h2><b>เพิ่มเติม</b></h2>
        </ion-label>
      </ion-item>
      <ion-item color="tertiary" lines="full" *ngIf="this.fg.get('Type').value!='PA'&&this.fg.get('Type').value!='BA'">
        <ion-grid class="ion-no-padding" *ngIf="this.fg.get('Type').value != 'QRB'">

          <ion-label for="customInputAmount" *ngIf="this.fg.get('Type').value=='Bank'">
            <h2><b>เลขที่บัญชี</b> {{this.fg.get('Accountnumber').value}}</h2>
          </ion-label>

          <ion-label class="ion-text-left" for="customInputAmount" *ngIf="this.fg.get('Type').value=='alipay'">
            <h2><b>Ref.</b> &nbsp;<ion-text color="medium">2345678901</ion-text>
            </h2>
          </ion-label>
          <ion-label for="customInputAmount" *ngIf="this.fg.get('Type').value=='crypto'" class="ion-padding-bottom">
            <div>
              <h2><b>Address</b> &nbsp; <ion-text color="medium">Oxf7890105ce5637789FF355C6ea</ion-text>
              </h2>
              <h2><b>Network</b>  &nbsp; <ion-text color="medium">Mainchain</ion-text>
              </h2>
            </div>
          </ion-label>
            <ion-label for="customInputAmount" *ngIf="this.fg.get('Type').value=='QRP'|| this.fg.get('Type').value=='PP'"
              class="ion-padding-bottom">
              <h2><b>หมายเลขพร้อมเพย์</b> : {{this.fg.get('Accountnumber').value}}</h2>
            </ion-label>
          </ion-grid>
  

          <ion-grid class="ion-no-padding ion-padding-bottom" *ngIf="this.fg.get('Type').value == 'QRB'">
            <ion-row>
              <ion-col size="3">
                <ion-label for="customInputAmount" >
                  <h2><b>Biller ID</b></h2>
                </ion-label>
              </ion-col>
              <ion-col size="9">
                <ion-label for="customInputAmount">
                  <ion-text color="medium">
                    <h2>01055637789355</h2>
                  </ion-text>
                </ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="3">
                <ion-label for="customInputAmount">
                  <h2><b>Ref.1</b></h2>
                </ion-label>
              </ion-col>
              <ion-col size="9">
                <ion-label for="customInputAmount">
                  <ion-text color="medium">
                    <h2>30036671388</h2>
                  </ion-text>
                </ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="3">
                <ion-label for="customInputAmount">
                  <h2><b>Ref.2</b></h2>
                </ion-label>
              </ion-col>
              <ion-col size="9">
                <ion-label for="customInputAmount">
                  <ion-text color="medium">
                    <h2>600P8444111</h2>
                  </ion-text>
                </ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>

        <!-- <ion-label for="customInputAmount" *ngIf="this.fg.get('Type').value=='QRB'">
          <div>
            <h2>BillerId : 01055637789355 </h2>
            <h2>ref1 : 0036671388 </h2>
            <h2>ref2 : 000P8444111</h2>
          </div>
        </ion-label> -->     
      </ion-item>

      <ion-item *ngIf="this.fg.get('Type').value!='PA' && this.fg.get('Type').value!='BA'" color="tertiary" lines="none">
        <ion-label for="customInputAmount">
          <h2><b>หมายเหตุ</b></h2>
        </ion-label>
      </ion-item>

      <ion-item *ngIf="this.fg.get('Type').value=='PA' || this.fg.get('Type').value=='BA'" color="tertiary" lines="none" class="ion-margin-top">
        <ion-label for="customInputAmount">
          <h2><b>หมายเหตุ</b></h2>
        </ion-label>
      </ion-item>
      <ion-item color="tertiary" lines="none">
        <ion-textarea type="text" placeholder="" rows="1" formControlName="Remark" [disabled]="true">มีหยังก็ใส่มาหมายเหตุในฝัน</ion-textarea>
        <!-- <ion-label class="ion-no-margin">
          <h3>Option Detail</h3>
        </ion-label> -->
      </ion-item>
    </form>
  </ng-container>
</ion-content>

<ion-footer class="ion-no-border">
  <form (ngSubmit)="onSave()">
    <ion-button id="app-form-submit" color="danger" class="ion-no-margin" expand="full" type="submit">จ่ายเงิน
    </ion-button>
  </form>
</ion-footer>