<ion-header>
  <ion-toolbar>
    <ion-title>ppay-payment-detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="transaction ion-padding-top" mode="ios">
  <ng-container>
    <ion-card class="ion-padding-top" color="tertiary">
      <ion-item class="ion-text-center" color="tertiary" lines="none">
        <ion-grid class="ion-padding">
          <ion-row class="ion-text-center ion-align-items-center">
            <ion-col size="6" class="ion-text-center">
              <div class="content-center">
                <img class="icon transaction-img" src="assets/imgs/changewallet.png">
              </div>
              <ion-icon class="right-arrow" name="chevron-forward-sharp"></ion-icon>
            </ion-col>
            <ion-col size="6" class="ion-text-center">
              <div class="content-center">
                <img class="icon circle transaction-img" src="assets/imgs/defaultshop.png">
              </div>
            </ion-col>
          </ion-row>
          <ion-row class="ion-text-center ion-align-items-center">
            <ion-col size="6" class="ion-text-center ion-no-padding">
              <ion-label class="ion-text-nowrap">
                <h3><b> {{this.fg.get('FirstnameTH').value}} {{this.fg.get('LastnameTH').value}}</b></h3>
              </ion-label>
            </ion-col>
            <ion-col size="6" class="ion-text-center ion-no-padding">
              <ion-label class="ion-text-nowrap">
                <h3><b> ทนวย คงควรคอย</b></h3>
              </ion-label>
            </ion-col>
          </ion-row>
          <ion-row class="ion-text-center ion-align-items-center">
            <ion-col size="6" class="ion-text-center ion-no-padding">
              <ion-label class="ion-text-nowrap">
                <h3> {{this.fg.get('Bagname').value}}</h3>
              </ion-label>
            </ion-col>
            <ion-col size="6" class="ion-text-center ion-no-padding" *ngIf="this.fg.get('Type').value=='Bank'">
              <ion-label class="ion-text-nowrap">
                <h3>{{this.fg.get('Bankname').value}}</h3>
              </ion-label>
              <ion-label class="ion-text-nowrap">
                <h3>{{this.fg.get('Accountnumber').value}}</h3>
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item class="ion-text-center" color="tertiary" lines="full">
        <ion-label color="danger">
          <h2><b>{{ ParseToTwoDecimal(this.fg.get('total').value)| number:'1.2-2' }}
              <small> THB</small></b>
          </h2>
        </ion-label>
      </ion-item>

      <ion-item color="tertiary" class="ion-padding-vertical" lines="none">
        <ion-avatar slot="start" class="avatar-m">
          <img class="non-circle" src="assets/imgs/qrcode.png" />
        </ion-avatar>
        <ion-label>
          <h2><b>รหัสอ้างอิง : STK{{rand}}</b></h2>
          <ion-text color="medium">
            <h3>วันที่ {{date | date:'dd/MM/yyyy (H:mm)' }}</h3>
          </ion-text>
        </ion-label>
        <!-- TODO: implement share -->
        <ion-note>
          <ion-label>
            <h3>
              <!-- <a class="link-medium" [href]="data.shareUrl">
              <ion-icon name="share-outline"></ion-icon>&nbsp;แชร์
            </a> -->
            </h3>
          </ion-label>
        </ion-note>
      </ion-item>
    </ion-card>
    <div size="12" class="indentation">
    </div>
    <br>
    <ion-label color="medium" class="ion-text-center">
      <h3>
        <!-- <a class="link-medium" [href]="data.historyUrl">
        <ion-icon name="receipt-outline"></ion-icon>&nbsp;ดูรายละเอียดบิล
      </a> -->
      </h3>
    </ion-label>
  </ng-container>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-button (click)="gohome()" expand="full">Go Home
  </ion-button>
</ion-footer>