<ion-header>
  <ion-toolbar>
    <ion-title>จ่ายเงิน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <ng-container>
    <!-- <form [formGroup]="fg" (ngSubmit)="onSave()"> -->
      <ion-list lines="none">
        <ion-item color="tertiary" class="ion-margin-top">
          <!-- <img *ngIf="data.logo" [src]="data.logo" class="logo-l circle center ion-margin-top"> -->
          <img src="assets/imgs/defaultshop.png" class="logo-l circle center ion-margin-top">
        </ion-item>
        <ion-item color="tertiary" class="ion-text-center">
          <ion-label class="ion-no-margin">
            <h2><b>อานน บางสาน</b></h2>
            <h2><b>Anon Bangsan</b></h2>
          </ion-label>
        </ion-item>
        <ion-item color="tertiary" lines="none">
          <ion-label for="customInputAmount">
            <h2>จำนวนเงินที่จ่าย</h2>
          </ion-label>
          <!-- <ion-label class="ion-text-end" color="danger">
            <h2>
              ข้อมูลไม่ถูกต้อง
            </h2>
          </ion-label> -->
        </ion-item>

        <ion-item color="tertiary" lines="full">
          <ion-input id="customInputAmount" customInput="true" placeholder="ระบุยอดเงิน" class="ion-text-center input-money"></ion-input>
          <ion-label slot="end" class="ion-no-margin">
            <h3>THB</h3>
          </ion-label>
        </ion-item>
        <ion-item color="tertiary">
          <ion-input id="customInputAmount" customInput="true" class="ion-text-center input-money"></ion-input>

            <ion-label>
              <h3>ใส่รหัสจ่ายเงิน</h3>
            </ion-label>
        </ion-item>
  
        <ion-item color="tertiary" lines="full">
          <img slot="start" width="22" height="22" class="qr" src="assets/imgs/walletgray.png" />
          <ion-label class="ion-no-margin">
            <h3>Anon</h3>
          </ion-label>
          <ion-label slot="end" class="ion-no-margin">
            <h3>เปลี่ยน</h3>
          </ion-label>
        </ion-item>

        <ion-item color="tertiary" lines="full">
          <ion-label class="ion-no-margin">
            <h3>คูปอง</h3>
          </ion-label>
          <ion-fab-button class="fab-small" size="small" color="danger">
            <ion-icon color="light" name="add"></ion-icon>
          </ion-fab-button>
        </ion-item>
      </ion-list>

      <ion-item color="tertiary" lines="none">
        <ion-label for="customInputAmount">
          <h2>เพิ่มเติม</h2>
        </ion-label>
      </ion-item>
      <ion-item color="tertiary" lines="full">
        <ion-label class="ion-no-margin">
          <h3>Option Detail</h3>
        </ion-label>
      </ion-item>
      <ion-button id="app-form-submit" color="danger" class="ion-no-margin" expand="full" type="submit">OK
      </ion-button>
  </ng-container>
</ion-content>