<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="this.fg.get('Type').value=='QR'">จ่ายเงิน</ion-title>
    <ion-title *ngIf="this.fg.get('Type').value=='PP'|| this.fg.get('Type').value=='Bank'">โอน-จ่าย</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <ng-container *ngIf="this.fg.get('Number').value != 888 && this.fg.get('Number').value != 999">
    <form [formGroup]="fg">
      <ion-list lines="none">
        <ion-item color="tertiary" class="ion-margin-top">
          <img *ngIf="data.logo" [src]="data.logo" class="logo-l circle center ion-margin-top">
          <!-- <img src="assets/imgs/defaultshop.png" class="logo-l circle center ion-margin-top"> -->
          <img class="logo-l circle center ion-margin-top" src="assets/imgs/PromtPay.png"
            *ngIf="(this.fg.get('Type').value=='QRP' ||this.fg.get('Type').value=='QRB'|| this.fg.get('Type').value=='PP')">
          <img class="logo-l circle center ion-margin-top" [src]="this.fg.get('BankLogo').value"
            *ngIf="this.fg.get('Type').value=='Bank'">
          <img class="logo-l circle center ion-margin-top" src="assets/imgs/dogs.jpg"
            *ngIf="this.fg.get('Type').value=='PA'">
          <img class="logo-l circle center ion-margin-top" src="assets/imgs/BeedaDelivery.jpg"
            *ngIf="this.fg.get('Type').value=='BA'">
          <img class="logo-l circle center ion-margin-top" src="assets/imgs/alipay.png"
            *ngIf="this.fg.get('Type').value=='alipay'">
          <img class="logo-l circle center ion-margin-top" src="assets/imgs/crypto.png"
            *ngIf="this.fg.get('Type').value=='crypto'">
        </ion-item>
        <ion-item color="tertiary" class="ion-text-center">
          <ion-label class="ion-no-margin">
            <h2><b>{{this.fg.get('FirstnameTH').value}} {{this.fg.get('LastnameTH').value}}</b></h2>
            <h2 *ngIf="this.fg.get('Type').value!='PA'&&this.fg.get('Type').value!='BA'">
              <b>{{this.fg.get('FirstnameEN').value}} {{this.fg.get('LastnameEN').value}}</b>
            </h2>
          </ion-label>
        </ion-item>

        <ion-item color="tertiary" lines="none">
          <ion-label slot="start">
            <h2>จำนวนเงิน</h2>
            <ion-text color="danger" *ngIf="isInvalid('Price')">
              ข้อมูลไม่ถูกต้อง
            </ion-text>
          </ion-label>
          <ion-label slot="end">
            <img slot="end" width="22" height="22" class="qr" src="assets/imgs/walletgray.png" />
          </ion-label>
        </ion-item>
        <ion-item color="tertiary" lines="full">
          <ion-input type="number" id="customInputAmount" customInput="true" placeholder="ระบุยอดเงิน"
            formControlName="Price" class="ion-text-center input-money" [disabled]="this.fg.get('M4').value">
          </ion-input>
          <ion-label slot="end" class="ion-text-center"
            *ngIf="this.fg.get('Type').value !='alipay' && this.fg.get('Type').value !='crypto'">
            <h3>THB</h3>
          </ion-label>
          <ion-label slot="end" class="ion-text-center" *ngIf="this.fg.get('Type').value =='alipay'">
            <h3>CNY</h3>
          </ion-label>
          <ion-label slot="end" class="ion-text-center" *ngIf="this.fg.get('Type').value =='crypto'">
            <h3>BTC</h3>
          </ion-label>
        </ion-item>

        <div *ngIf="this.fg.get('Type').value != 'alipay' && this.fg.get('Type').value !='crypto'">
          <ion-item color="tertiary" lines="full" *ngIf="this.fg.get('Price').value > 0">
            <ion-grid>
              <ion-row>
                <ion-col class="ion-no-padding">
                  <ion-label>
                    <h3 class="line-height2"><b>รายละเอียดธุรกรรม</b></h3>
                  </ion-label>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="this.fg.get('Price').value > 0">
                <ion-col class="ion-no-padding">
                  <ion-label>
                    <h3 class="line-height2">จำนวนเงิน</h3>
                  </ion-label>
                </ion-col>
                <ion-col class="ion-no-padding ion-text-right">
                  <ion-label>
                    <h3>{{ this.fg.get('Price').value}}.00 <small>THB</small></h3>
                  </ion-label>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="this.fg.get('Price').value > 0">
                <ion-col class="ion-no-padding">
                  <ion-label>
                    <h3 class="line-height2">ค่าธรรมเนียม</h3>
                  </ion-label>
                </ion-col>
                <ion-col class="ion-no-padding ion-text-right">
                  <ion-label>
                    <h3>
                      <ion-text color="danger" class="line-through">
                        10.00
                      </ion-text>                  
                      0.00 <small>THB</small></h3>
                  </ion-label>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="this.fg.get('Price').value > 0">
                <ion-col class="ion-no-padding">
                  <ion-label>
                    <h3 class="line-height2">ส่วนลด</h3>
                  </ion-label>
                </ion-col>
                <ion-col class="ion-no-padding ion-text-right">
                  <ion-label>
                    <h3>-{{this.fg.get('Discount').value}}.00 <small>THB</small></h3>
                  </ion-label>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="this.fg.get('Price').value > 0">
                <ion-col class="ion-no-padding">
                  <ion-label>
                    <h3 class="line-height2">รวมทั้งหมด</h3>
                  </ion-label>
                </ion-col>
                <ion-col class="ion-no-padding ion-text-right">
                  <ion-label color="danger">
                    <h3><b>{{ this.fg.get('Price').value - this.fg.get('Discount').value > 0 ?
                        this.fg.get('Price').value
                        - this.fg.get('Discount').value :
                        0}}.00 <small>THB</small></b></h3>
                  </ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </div>


        <div *ngIf="this.fg.get('Type').value == 'alipay'">
          <ion-item color="tertiary" lines="full" *ngIf="this.fg.get('Price').value > 0">
            <ion-grid>
              <ion-row>
                <ion-col class="ion-no-padding">
                  <ion-label>
                    <h3 class="line-height2"><b>รายละเอียดธุรกรรม</b></h3>
                  </ion-label>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="this.fg.get('Price').value > 0">
                <ion-col class="ion-no-padding">
                  <ion-label>
                    <h3 class="line-height2">จำนวนเงิน</h3>
                  </ion-label>
                </ion-col>
                <ion-col class="ion-no-padding ion-text-right">
                  <ion-label>
                    <h3>{{ this.fg.get('Price').value}}.00 <small>CNY</small></h3>
                  </ion-label>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="this.fg.get('Price').value > 0">
                <ion-col class="ion-no-padding">
                  <ion-label>
                    <h3 class="line-height2">ค่าธรรมเนียม</h3>
                  </ion-label>
                </ion-col>
                <ion-col class="ion-no-padding ion-text-right">
                  <ion-label>
                    <h3> 0.00 <small>CNY</small></h3>
                  </ion-label>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="this.fg.get('Price').value > 0">
                <ion-col class="ion-no-padding">
                  <ion-label>
                    <h3 class="line-height2">ส่วนลด</h3>
                  </ion-label>
                </ion-col>
                <ion-col class="ion-no-padding ion-text-right">
                  <ion-label>
                    <h3>-{{this.fg.get('Discount').value}}.00 <small>CNY</small></h3>
                  </ion-label>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="this.fg.get('Price').value > 0">
                <ion-col class="ion-no-padding">
                  <ion-label>
                    <h3 class="line-height2">รวมทั้งหมด</h3>
                  </ion-label>
                </ion-col>
                <ion-col class="ion-no-padding ion-text-right">
                  <ion-label color="danger">
                    <h3><b>{{ this.fg.get('Price').value - this.fg.get('Discount').value > 0 ?
                        this.fg.get('Price').value
                        - this.fg.get('Discount').value :
                        0}}.00 <small>CNY</small></b></h3>
                  </ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </div>


        <div *ngIf="this.fg.get('Type').value == 'crypto'">
          <ion-item color="tertiary" lines="full" *ngIf="this.fg.get('Price').value > 0">
            <ion-grid>
              <ion-row>
                <ion-col class="ion-no-padding">
                  <ion-label>
                    <h3 class="line-height2"><b>รายละเอียดธุรกรรม</b></h3>
                  </ion-label>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="this.fg.get('Price').value > 0">
                <ion-col class="ion-no-padding">
                  <ion-label>
                    <h3 class="line-height2">จำนวนเงิน</h3>
                  </ion-label>
                </ion-col>
                <ion-col class="ion-no-padding ion-text-right">
                  <ion-label>
                    <h3>{{ this.fg.get('Price').value}}.00 <small>BTC</small></h3>
                  </ion-label>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="this.fg.get('Price').value > 0">
                <ion-col class="ion-no-padding">
                  <ion-label>
                    <h3 class="line-height2">ค่าธรรมเนียม</h3>
                  </ion-label>
                </ion-col>
                <ion-col class="ion-no-padding ion-text-right">
                  <ion-label>
                    <h3> 0.00 <small>BTC</small></h3>
                  </ion-label>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="this.fg.get('Price').value > 0">
                <ion-col class="ion-no-padding">
                  <ion-label>
                    <h3 class="line-height2">ส่วนลด</h3>
                  </ion-label>
                </ion-col>
                <ion-col class="ion-no-padding ion-text-right">
                  <ion-label>
                    <h3>-{{this.fg.get('Discount').value}}.00 <small>BTC</small></h3>
                  </ion-label>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="this.fg.get('Price').value > 0">
                <ion-col class="ion-no-padding">
                  <ion-label>
                    <h3 class="line-height2">รวมทั้งหมด</h3>
                  </ion-label>
                </ion-col>
                <ion-col class="ion-no-padding ion-text-right">
                  <ion-label color="danger">
                    <h3><b>{{ this.fg.get('Price').value - this.fg.get('Discount').value > 0 ?
                        this.fg.get('Price').value
                        - this.fg.get('Discount').value :
                        0}}.00 <small>BTC</small></b></h3>
                  </ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </div>

        <!-- <ion-item color="tertiary" lines="full">
          <img slot="start" width="22" height="22" class="qr" src="assets/imgs/walletgray.png" />
          <ion-label class="ion-no-margin">
            <h3>{{this.fg.get('Bagname').value}}</h3>
          </ion-label>
          <ion-label slot="end" class="ion-no-margin">
            <h3>12K</h3>
          </ion-label>
        </ion-item> -->

        <ion-item color="tertiary" lines="full">
          <img slot="start" width="22" height="22" class="qr" src="assets/imgs/walletgray.png" />
          <ion-col class="ion-no-padding">
            <ion-label color="medium">
              <h3 class="line-height2">{{this.fg.get('Bagname').value}}.....</h3>
            </ion-label>
          </ion-col>
          <ion-col class="ion-no-padding ion-text-right">
            <ion-label color="medium">
              <h3><B>100K <small>THB </small></B>
                <ion-icon name="chevron-down" (click)="openOptionDlg()"></ion-icon>
              </h3>
            </ion-label>
          </ion-col>
        </ion-item>

        <ion-item color="tertiary" lines="none">
          <ion-label class="ion-no-margin">
            <h3>คูปอง</h3>
          </ion-label>
          <ion-fab-button class="fab-small" size="small" color="danger">
            <ion-icon color="light" name="add" (click)="usecoupon()">
            </ion-icon>
          </ion-fab-button>
          <!-- <ion-button id="app-form-submit" color="danger" class="ion-no-margin" expand="full" (click)="usecoupon()">
            +
          </ion-button> -->
        </ion-item>
        <div formArrayName="Coupon">
          <ion-item color="tertiary" lines="none" class="ion-no-padding"
            *ngFor="let item of fg.get('Coupon')['controls']; let i=index">
            <ion-col class="ion-no-padding" size="0.3">
            </ion-col>

            <ion-col class="ion-no-padding" size="1">
              <img class="logo-s circle" src="assets/imgs/coupon-small-red.png" *ngIf="item.value.checkuse == true">
              <img class=" logo-s circle" src="assets/imgs/coupon-small-gray.png" *ngIf="item.value.checkuse == false">
            </ion-col>
            <ion-col class=" ion-padding">
              <ion-label style="color: lightgray;" *ngIf="item.value.checkuse == false">
                <h3 class="line-height2">{{item.value.name}}</h3>
              </ion-label>
              <ion-label style="color: black;" *ngIf="item.value.checkuse == true">
                <h3 class="line-height2">{{item.value.name}}</h3>
              </ion-label>
            </ion-col>
            <ion-col class="ion-padding ion-text-right">
              <ion-label (click)="deletecoupon(i)" style="color: lightgray;">
                <h3>ลบ</h3>
              </ion-label>
            </ion-col>
          </ion-item>
        </div>
      </ion-list>




      <ion-list class="ion-margin-top" lines="full">
        <ion-item color="tertiary" lines="none"
          *ngIf="this.fg.get('Type').value!='PA'&&this.fg.get('Type').value!='BA'">
          <ion-label for="customInputAmount">
            <h2><b>เพิ่มเติม</b></h2>
          </ion-label>
        </ion-item>
        <ion-item color="tertiary" *ngIf="this.fg.get('Type').value!='PA'&&this.fg.get('Type').value!='BA'">

          <ion-label class="ion-text-left" for="customInputAmount" *ngIf="this.fg.get('Type').value=='QRP'|| this.fg.get('Type').value=='PP'">
            <h2><b>หมายเลขพร้อมเพย์ </b>: {{this.fg.get('Accountnumber').value}}</h2>
          </ion-label>

          <ion-label for="customInputAmount" *ngIf="this.fg.get('Type').value=='Bank'">
            <h2><b>เลขที่บัญชี</b> {{this.fg.get('Accountnumber').value}}</h2>
          </ion-label>
          <ion-label for="customInputAmount" *ngIf="this.fg.get('Type').value=='alipay'">
            <h2><b>Ref.</b> &nbsp;<ion-text color="medium">2345678901</ion-text>
            </h2>
          </ion-label>
          <ion-label for="customInputAmount" *ngIf="this.fg.get('Type').value=='crypto'">
            <div>
              <h2><b>Address</b> &nbsp; <ion-text color="medium">Oxf7890105ce5637789FF355C6ea</ion-text>
              </h2>
              <h2><b>Network</b>  &nbsp; <ion-text color="medium">Mainchain</ion-text>
              </h2>
            </div>
          </ion-label>

          <ion-grid class="ion-no-padding">
            <ion-row>
              <ion-col size="2">
                <ion-label for="customInputAmount" *ngIf="this.fg.get('Type').value=='QRB'">
                  <h2><b>Biller ID</b></h2>
                </ion-label>
              </ion-col>
              <ion-col size="10">
                <ion-label for="customInputAmount" *ngIf="this.fg.get('Type').value=='QRB'">
                  <ion-text color="medium">
                    <h2>01055637789355</h2>
                  </ion-text>
                </ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="2">
                <ion-label for="customInputAmount" *ngIf="this.fg.get('Type').value=='QRB'">
                  <h2><b>Ref.1</b></h2>
                </ion-label>
              </ion-col>
              <ion-col size="10">
                <ion-label for="customInputAmount" *ngIf="this.fg.get('Type').value=='QRB'">
                  <ion-text color="medium">
                    <h2>30036671388</h2>
                  </ion-text>
                </ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="2">
                <ion-label for="customInputAmount" *ngIf="this.fg.get('Type').value=='QRB'">
                  <h2><b>Ref.2</b></h2>
                </ion-label>
              </ion-col>
              <ion-col size="10">
                <ion-label for="customInputAmount" *ngIf="this.fg.get('Type').value=='QRB'" class="ion-padding-bottom">
                  <ion-text color="medium">
                    <h2>600P8444111</h2>
                  </ion-text>
                </ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>

          <!-- <ion-label for="customInputAmount" *ngIf="this.fg.get('Type').value=='QRB'" class="ion-padding-bottom">
          <div>
            <h2><b>Biller ID</b> : 01055637789355 </h2>
            <h2><b>Ref.1</b> : 0036671388 </h2>
            <h2><b>Ref.2</b> : 000P8444111</h2>
          </div>
        </ion-label> -->      
        </ion-item>
        <ion-item color="tertiary" lines="none">
          <ion-label for="customInputAmount">
            <h2><b>หมายเหตุ</b></h2>
          </ion-label>
        </ion-item>
        <ion-item color="tertiary" lines="none">
          <ion-textarea type="text" placeholder="" rows="1" formControlName="Remark" [disabled]="true">มีหยังก้ใสมาหมายเหตุในฝัน</ion-textarea>
        </ion-item>
      </ion-list>
    </form>
  </ng-container>

  <ng-container *ngIf="this.fg.get('Number').value == 888">
    <form [formGroup]="fg">
      <ion-list lines="none">
        <ion-item color="tertiary" class="ion-margin-top">
          <!-- <img *ngIf="data.logo" [src]="data.logo" class="logo-l circle center ion-margin-top"> -->
          <!-- <img src="assets/imgs/defaultshop.png" class="logo-l circle center ion-margin-top"> -->
          <img class="logo-l circle center ion-margin-top" src="assets/imgs/PromtPay.png"
            *ngIf="this.fg.get('Type').value=='PP' || this.fg.get('Number').value==1 || this.fg.get('Number').value==0">
          <img class="logo-l circle center ion-margin-top" src="assets/imgs/PromtPay.png"
            *ngIf="(this.fg.get('Type').value=='QR' && (this.fg.get('Number').value==2||this.fg.get('Number').value==3||this.fg.get('Number').value==4))">
          <img class="logo-l circle center ion-margin-top" [src]="this.fg.get('BankLogo').value"
            *ngIf="this.fg.get('Type').value=='Bank'">
        </ion-item>
        <ion-item color="tertiary" class="ion-text-center">
          <ion-label class="ion-no-margin">
            <h2><b>{{this.fg.get('FirstnameTH').value}} {{this.fg.get('LastnameTH').value}}</b></h2>
            <h2><b>{{this.fg.get('FirstnameEN').value}} {{this.fg.get('LastnameEN').value}}</b></h2>
          </ion-label>
        </ion-item>



        <ion-item color="tertiary" lines="none">
          <ion-label slot="start">
            <h2>จำนวนเงิน</h2>
            <ion-text color="danger" *ngIf="isInvalid('Price')">
              ข้อมูลไม่ถูกต้อง
            </ion-text>
          </ion-label>
          <ion-label slot="end">
            <img slot="end" width="22" height="22" class="qr" src="assets/imgs/walletgray.png" />
          </ion-label>
        </ion-item>
        <ion-item color="tertiary" lines="full">
          <ion-input type="number" id="customInputAmount" customInput="true" placeholder="ระบุยอดเงิน"
            formControlName="Price" class="ion-text-center input-money" [disabled]="this.fg.get('M4').value">
          </ion-input>
          <ion-label slot="end" class="ion-no-margin">
            <h3>THB</h3>
          </ion-label>
        </ion-item>

        <ion-item color="tertiary" lines="full" *ngIf="this.fg.get('Price').value > 0">
          <ion-grid class="ion-no-padding">
            <ion-row>
              <ion-col class="ion-no-padding">
                <ion-label>
                  <h3 class="line-height2"><b>รายละเอียดการจ่ายเงิน</b></h3>
                </ion-label>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="this.fg.get('Price').value > 0">
              <ion-col class="ion-no-padding">
                <ion-label>
                  <h3 class="line-height2">จำนวนเงิน</h3>
                </ion-label>
              </ion-col>
              <ion-col class="ion-no-padding ion-text-right">
                <ion-label>
                  <h3>{{ this.fg.get('Price').value}}.00 <small>THB</small></h3>
                </ion-label>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="this.fg.get('Price').value > 0">
              <ion-col class="ion-no-padding">
                <ion-label>
                  <h3 class="line-height2">ส่วนลด</h3>
                </ion-label>
              </ion-col>
              <ion-col class="ion-no-padding ion-text-right">
                <ion-label>
                  <h3>-{{this.fg.get('Discount').value}}.00 <small>THB</small></h3>
                </ion-label>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="this.fg.get('Price').value > 0">
              <ion-col class="ion-no-padding">
                <ion-label>
                  <h3 class="line-height2">รวมทั้งหมด</h3>
                </ion-label>
              </ion-col>
              <ion-col class="ion-no-padding ion-text-right">
                <ion-label color="danger">
                  <h3><b>{{ this.fg.get('Price').value - this.fg.get('Discount').value > 0 ? this.fg.get('Price').value
                      - this.fg.get('Discount').value :
                      0}}.00 <small>THB</small></b></h3>
                </ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <!-- <ion-item color="tertiary" lines="full">
          <img slot="start" width="22" height="22" class="qr" src="assets/imgs/walletgray.png" />
          <ion-label class="ion-no-margin">
            <h3>{{this.fg.get('Bagname').value}}</h3>
          </ion-label>
          <ion-label slot="end" class="ion-no-margin">
            <h3>12K</h3>
          </ion-label>
        </ion-item> -->
        <ion-item color="tertiary" lines="full">
          <img slot="start" width="22" height="22" class="qr" src="assets/imgs/walletgray.png" />
          <ion-col class="ion-no-padding">
            <ion-label color="medium">
              <h3 class="line-height2">
                {{this.fg.get('Bagname').value}}</h3>
            </ion-label>
          </ion-col>
          <ion-col class="ion-no-padding ion-text-right">
            <ion-label color="medium">
              <h3><B>200K <small>THB </small></B>
                <ion-icon name="chevron-down" (click)="openOptionDlg()"></ion-icon>
              </h3>
            </ion-label>
          </ion-col>
        </ion-item>

        <ion-item color="tertiary" lines="full">
          <ion-label class="ion-no-margin">
            <h3>คูปอง</h3>
          </ion-label>
          <ion-fab-button class="fab-small" size="small" color="danger">
            <ion-icon color="light" name="add" (click)="usecoupon()">
            </ion-icon>
          </ion-fab-button>
          <!-- <ion-button id="app-form-submit" color="danger" class="ion-no-margin" expand="full" (click)="usecoupon()">
            +
          </ion-button> -->
        </ion-item>
        <div formArrayName="Coupon">
          <ion-item color="tertiary" lines="full" class="ion-no-padding"
            *ngFor="let item of fg.get('Coupon')['controls']; let i=index">
            <ion-col class="ion-no-padding" size="1">
              <img class="logo-s circle" src="assets/imgs/coupon-small-red.png" *ngIf="item.value.checkuse == true">
              <img class=" logo-s circle" src="assets/imgs/coupon-small-gray.png" *ngIf="item.value.checkuse == false">
            </ion-col>
            <ion-col class=" ion-padding">
              <ion-label style="color: lightgray;" *ngIf="item.value.checkuse == false">
                <h3 class="line-height2">{{item.value.name}}</h3>
              </ion-label>
              <ion-label style="color: black;" *ngIf="item.value.checkuse == true">
                <h3 class="line-height2">{{item.value.name}}</h3>
              </ion-label>
            </ion-col>
            <ion-col class="ion-padding ion-text-right">
              <ion-label (click)="deletecoupon(i)" style="color: lightgray;">
                <h3>ลบ</h3>
              </ion-label>
            </ion-col>
          </ion-item>
        </div>
      </ion-list>
      <!-- ปปห -->
      <!-- <ion-item color="tertiary" lines="full">
        <ion-grid class="ion-no-padding">
          <ion-row>
            <ion-col class="ion-no-padding">
              <ion-label>
                <h3 class="line-height2"><b>รายละเอียดการจ่ายเงิน</b></h3>
              </ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-no-padding">
              <ion-label>
                <h3 class="line-height2">จำนวนเงิน</h3>
              </ion-label>
            </ion-col>
            <ion-col class="ion-no-padding ion-text-right">
              <ion-label>
                <h3>{{ this.fg.get('Price').value}}.00 <small>THB</small></h3>
              </ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-no-padding">
              <ion-label>
                <h3 class="line-height2">ส่วนลด</h3>
              </ion-label>
            </ion-col>
            <ion-col class="ion-no-padding ion-text-right">
              <ion-label>
                <h3>-{{this.fg.get('Discount').value}}.00 <small>THB</small></h3>
              </ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-no-padding">
              <ion-label>
                <h3 class="line-height2">รวมทั้งหมด</h3>
              </ion-label>
            </ion-col>
            <ion-col class="ion-no-padding ion-text-right">
              <ion-label color="danger">
                <h3><b>{{this.fg.get('Price').value - this.fg.get('Discount').value}}.00 <small>THB</small></b></h3>
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item> -->
      <ion-item color="tertiary" lines="none" *ngIf="this.fg.get('Type').value!='PA'||this.fg.get('Type').value!='BA'">
        <ion-label for="customInputAmount">
          <h2><b>เพิ่มเติม</b></h2>
        </ion-label>
      </ion-item>
      <ion-item color="tertiary" lines="none">
        <ion-label for="customInputAmount" *ngIf="this.fg.get('Type').value=='QRP'">
          <h2>เลขที่พร้อมเพย์ {{this.fg.get('Accountnumber').value}}</h2>
        </ion-label>
        <ion-label for="customInputAmount" *ngIf="this.fg.get('Type').value=='QRB'">
          <div>
            <h2>BillerId : 01055637789355 </h2>
            <h2>Ref.1 : 0036671388 </h2>
            <h2>Ref.2 : 000P8444111</h2>
          </div>
        </ion-label>
        <ion-label for="customInputAmount" *ngIf="this.fg.get('Type').value=='Bank'">
          <h2>เลขที่บัญชี {{this.fg.get('Accountnumber').value}}</h2>
        </ion-label>
      </ion-item>
      <ion-item color="tertiary" lines="none">
        <ion-label for="customInputAmount">
          <h2><b>หมายเหตุ</b></h2>
        </ion-label>
      </ion-item>
      <ion-item color="tertiary" lines="full">
        <ion-textarea type="text" placeholder="รายละเอียดเพิ่มเติม" rows="1" formControlName="Remark">มีหยังก็ใส่มาหมายเหตุในฝัน</ion-textarea>
        <!-- <ion-label class="ion-no-margin">
          <h3>Option Detail</h3>
        </ion-label> -->
      </ion-item>
    </form>
  </ng-container>

  <ng-container *ngIf="this.fg.get('Number').value == 999">
    <form [formGroup]="fg">
      <ion-list lines="none">
        <ion-item color="tertiary" class="ion-margin-top">
          <!-- <img *ngIf="data.logo" [src]="data.logo" class="logo-l circle center ion-margin-top"> -->
          <!-- <img src="assets/imgs/defaultshop.png" class="logo-l circle center ion-margin-top"> -->
          <img class="logo-l circle center ion-margin-top" src="assets/imgs/PromtPay.png"
            *ngIf="this.fg.get('Type').value=='PP' || this.fg.get('Number').value==1 || this.fg.get('Number').value==0">
          <img class="logo-l circle center ion-margin-top" src="assets/imgs/PromtPay.png"
            *ngIf="(this.fg.get('Type').value=='QR' && (this.fg.get('Number').value==2||this.fg.get('Number').value==3||this.fg.get('Number').value==4))">
          <img class="logo-l circle center ion-margin-top" [src]="this.fg.get('BankLogo').value"
            *ngIf="this.fg.get('Type').value=='Bank'">
        </ion-item>
        <ion-item color="tertiary" class="ion-text-center">
          <ion-label class="ion-no-margin">
            <h2><b>{{this.fg.get('FirstnameTH').value}} {{this.fg.get('LastnameTH').value}}</b></h2>
            <h2><b>{{this.fg.get('FirstnameEN').value}} {{this.fg.get('LastnameEN').value}}</b></h2>
          </ion-label>
        </ion-item>



        <ion-item color="tertiary" lines="none">
          <ion-label slot="start">
            <h2>จำนวนเงิน</h2>
            <ion-text color="danger" *ngIf="isInvalid('Price')">
              ข้อมูลไม่ถูกต้อง
            </ion-text>
          </ion-label>
          <ion-label slot="end">
            <img slot="end" width="22" height="22" class="qr" src="assets/imgs/walletgray.png" />
          </ion-label>
        </ion-item>
        <ion-item color="tertiary" lines="full">
          <ion-input type="number" id="customInputAmount" customInput="true" placeholder="ระบุยอดเงิน"
            formControlName="Price" class="ion-text-center input-money" [disabled]="this.fg.get('M4').value"
            (ionChange)="xxx($event)">
          </ion-input>
          <ion-label slot="end" class="ion-no-margin">
            <h3>THB</h3>
          </ion-label>
        </ion-item>

        <ion-accordion-group [value]="checkacc">
          <ion-accordion value="colors">
            <ion-item color="tertiary" lines="full" slot="header">
              <ion-label>รายละเอียดการจ่ายเงิน</ion-label>
            </ion-item>
            <ion-item slot="content">
              <ion-grid class="ion-no-padding">
                <ion-row>
                  <ion-col class="ion-no-padding">
                    <ion-label>
                      <h3 class="line-height2">จำนวนเงิน</h3>
                    </ion-label>
                  </ion-col>
                  <ion-col class="ion-no-padding ion-text-right">
                    <ion-label>
                      <h3>{{ this.fg.get('Price').value}}.00 <small>THB</small></h3>
                    </ion-label>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="ion-no-padding">
                    <ion-label>
                      <h3 class="line-height2">ส่วนลด</h3>
                    </ion-label>
                  </ion-col>
                  <ion-col class="ion-no-padding ion-text-right">
                    <ion-label>
                      <h3>-{{this.fg.get('Discount').value}}.00 <small>THB</small></h3>
                    </ion-label>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="ion-no-padding">
                    <ion-label>
                      <h3 class="line-height2">รวมทั้งหมด</h3>
                    </ion-label>
                  </ion-col>
                  <ion-col class="ion-no-padding ion-text-right">
                    <ion-label color="danger">
                      <h3><b> {{ this.fg.get('Price').value - this.fg.get('Discount').value > 0 ?
                          this.fg.get('Price').value
                          - this.fg.get('Discount').value :
                          0}}.00 <small>THB</small></b>
                      </h3>
                    </ion-label>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
          </ion-accordion>
        </ion-accordion-group>
        <!-- <ion-item color="tertiary" lines="full">
          <img slot="start" width="22" height="22" class="qr" src="assets/imgs/walletgray.png" />
          <ion-label class="ion-no-margin">
            <h3>{{this.fg.get('Bagname').value}}</h3>
          </ion-label>
          <ion-label slot="end" class="ion-no-margin">
            <h3>12K</h3>
          </ion-label>
        </ion-item> -->
        <ion-item color="tertiary" lines="full">
          <img slot="start" width="22" height="22" class="qr" src="assets/imgs/walletgray.png" />
          <ion-col class="ion-no-padding">
            <ion-label color="medium">
              <h3 class="line-height2">{{this.fg.get('Bagname').value}} </h3>
            </ion-label>
          </ion-col>
          <ion-col class="ion-no-padding ion-text-right">
            <ion-label color="medium">
              <h3><B>300K <small>THB </small></B>
                <ion-icon name="chevron-down" (click)="openOptionDlg()"></ion-icon>
              </h3>
            </ion-label>
          </ion-col>
        </ion-item>

        <ion-item color="tertiary" lines="full">
          <ion-label class="ion-no-margin">
            <h3>คูปอง</h3>
          </ion-label>
          <ion-fab-button class="fab-small" size="small" color="danger">
            <ion-icon color="light" name="add" (click)="usecoupon()">
            </ion-icon>
          </ion-fab-button>
          <!-- <ion-button id="app-form-submit" color="danger" class="ion-no-margin" expand="full" (click)="usecoupon()">
            +
          </ion-button> -->
        </ion-item>
        <div formArrayName="Coupon">
          <ion-item color="tertiary" lines="full" class="ion-no-padding"
            *ngFor="let item of fg.get('Coupon')['controls']; let i=index">
            <ion-col class="ion-no-padding" size="1">
              <img class="logo-s circle" src="assets/imgs/coupon-small-red.png" *ngIf="item.value.checkuse == true">
              <img class=" logo-s circle" src="assets/imgs/coupon-small-gray.png" *ngIf="item.value.checkuse == false">
            </ion-col>
            <ion-col class=" ion-padding">
              <ion-label style="color: lightgray;" *ngIf="item.value.checkuse == false">
                <h3 class="line-height2">{{item.value.name}}</h3>
              </ion-label>
              <ion-label style="color: black;" *ngIf="item.value.checkuse == true">
                <h3 class="line-height2">{{item.value.name}}</h3>
              </ion-label>
            </ion-col>
            <ion-col class="ion-padding ion-text-right">
              <ion-label (click)="deletecoupon(i)" style="color: lightgray;">
                <h3>ลบ</h3>
              </ion-label>
            </ion-col>
          </ion-item>
        </div>
      </ion-list>
      <!-- ปปห -->
      <!-- <ion-item color="tertiary" lines="full">
        <ion-grid class="ion-no-padding">
          <ion-row>
            <ion-col class="ion-no-padding">
              <ion-label>
                <h3 class="line-height2"><b>รายละเอียดการจ่ายเงิน</b></h3>
              </ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-no-padding">
              <ion-label>
                <h3 class="line-height2">จำนวนเงิน</h3>
              </ion-label>
            </ion-col>
            <ion-col class="ion-no-padding ion-text-right">
              <ion-label>
                <h3>{{ this.fg.get('Price').value}}.00 <small>THB</small></h3>
              </ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-no-padding">
              <ion-label>
                <h3 class="line-height2">ส่วนลด</h3>
              </ion-label>
            </ion-col>
            <ion-col class="ion-no-padding ion-text-right">
              <ion-label>
                <h3>-{{this.fg.get('Discount').value}}.00 <small>THB</small></h3>
              </ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-no-padding">
              <ion-label>
                <h3 class="line-height2">รวมทั้งหมด</h3>
              </ion-label>
            </ion-col>
            <ion-col class="ion-no-padding ion-text-right">
              <ion-label color="danger">
                <h3><b>{{this.fg.get('Price').value - this.fg.get('Discount').value}}.00 <small>THB</small></b></h3>
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item> -->
      <ion-item color="tertiary" lines="none" *ngIf="this.fg.get('Type').value!='PA'||this.fg.get('Type').value!='BA'">
        <ion-label for="customInputAmount">
          <h2><b>เพิ่มเติม</b></h2>
        </ion-label>
      </ion-item>
      <ion-item color="tertiary" lines="none">
        <ion-label for="customInputAmount" *ngIf="this.fg.get('Type').value=='QRP'">
          <h2>เลขที่พร้อมเพย์ {{this.fg.get('Accountnumber').value}}</h2>
        </ion-label>
        <ion-label for="customInputAmount" *ngIf="this.fg.get('Type').value=='QRB'">
          <div>
            <h2>BillerId : 01055637789355 </h2>
            <h2>Ref.1 : 0036671388 </h2>
            <h2>Ref.2 : 000P8444111</h2>
          </div>
        </ion-label>
        <ion-label for="customInputAmount" *ngIf="this.fg.get('Type').value=='Bank'">
          <h2>เลขที่บัญชี {{this.fg.get('Accountnumber').value}}</h2>
        </ion-label>
      </ion-item>
      <ion-item color="tertiary" lines="none">
        <ion-label for="customInputAmount">
          <h2><b>หมายเหตุ</b></h2>
        </ion-label>
      </ion-item>
      <ion-item color="tertiary" lines="full">
        <ion-textarea type="text" placeholder="รายละเอียดเพิ่มเติม" rows="1" formControlName="Remark"></ion-textarea>
        <!-- <ion-label class="ion-no-margin">
          <h3>Option Detail</h3>
        </ion-label> -->
      </ion-item>
    </form>
  </ng-container>
</ion-content>

<ion-footer class="ion-no-border">
  <form (ngSubmit)="onSave()">
    <ion-button id="app-form-submit" color="danger" class="ion-no-margin" expand="full" type="submit">ตกลง
    </ion-button>
  </form>
</ion-footer>