<ion-content class="ion-padding" mode="ios">

  <ion-list class="ion-margin-bottom" lines="full">
    <ion-list-header class="ion-padding">
      <ion-label>Reference tools</ion-label>
    </ion-list-header>

    <a target="_blank" href="https://ionicframework.com/docs/components">
      <ion-item color="tertiary" button>
        <ion-label>UI Components</ion-label>
      </ion-item>
    </a>
    <a target="_blank" href="https://ionic.io/ionicons">
      <ion-item color="tertiary" button>
        <ion-label>Icons</ion-label>
      </ion-item>
    </a>

  </ion-list>

  <ion-list class="ion-margin-bottom" lines="full">
    <ion-list-header class="ion-padding">
      <ion-label>Template pages</ion-label>
    </ion-list-header>

    <a target="_blank" routerLink="/cart-edit-template">
      <ion-item color="tertiary" button>
        <ion-label>ตระกร้าสินค้า (แก้ไข)</ion-label>
      </ion-item>
    </a>
    <a target="_blank" routerLink="/cart-checkout-template">
      <ion-item color="tertiary" button>
        <ion-label>ตระกร้าสินค้า (จ่ายเงิน)</ion-label>
      </ion-item>
    </a>
    <a target="_blank" routerLink="/cart-dialog-template">
      <ion-item color="tertiary" button>
        <ion-label>ตระกร้าสินค้า (ผลลัพธ์จ่ายเงิน) dialog</ion-label>
      </ion-item>
    </a>
    <a target="_blank" routerLink="/option-dialog-template">
      <ion-item color="tertiary" button>
        <ion-label>Option dialog</ion-label>
      </ion-item>
    </a>
    <a target="_blank" routerLink="/form-template">
      <ion-item color="tertiary" button>
        <ion-label>กรอกข้อมูลในฟอร์ม</ion-label>
      </ion-item>
    </a>

  </ion-list>


  <ion-list class="ion-margin-bottom" lines="full">
    <ion-list-header class="ion-padding">
      <ion-label>Advances tip</ion-label>
    </ion-list-header>

    <a target="_blank" routerLink="/form-binding">
      <ion-item color="tertiary" button>
        <ion-label>รับ/ส่งข้อมูล ภายในฟอร์ม</ion-label>
      </ion-item>
    </a>
    <a target="_blank" routerLink="/form-send-data">
      <ion-item color="tertiary" button>
        <ion-label>รับ/ส่งข้อมูล ระหว่างหน้า</ion-label>
      </ion-item>
    </a>

  </ion-list>

</ion-content>