<ion-content mode="ios">

  <ion-card color="tertiary" class="ion-margin-top">
    <ion-card-content class="text-indent">
      <ion-label>
        เนื่องจากการ..... จำเป็นจะต้องผ่านเงื่อนไขที่กล่าวมาทั้งหมด จึงจะสามารถดำเนินการถัดไปได้
        กรุณาทำให้ผ่านทุกรายการที่กล่าวมา
      </ion-label>
    </ion-card-content>
  </ion-card>
  <hr class="ion-no-margin">

  <ion-list class="ion-no-padding" lines="none">

    <ng-container>
      <ion-item color="tertiary">

        <ion-spinner name="dots" color="medium"></ion-spinner>
        <ion-label class="ion-padding-start" color="medium"><b>ชื่อเงื่อนไข</b>
        </ion-label>
      </ion-item>

      <ion-card color="tertiary" class="ion-padding-end ion-padding-bottom ion-card-description">
        <ion-label color="medium">รายละเอียด
        </ion-label>
      </ion-card>

      <hr class="ion-no-margin">
    </ng-container>

    <ng-container>
      <ion-item color="tertiary">

        <ion-icon name="alert-circle-outline" color="medium"></ion-icon>
        <ion-label class="ion-padding-start" color="medium"><b>ชื่อเงื่อนไข</b>
        </ion-label>
      </ion-item>

      <ion-card color="tertiary" class="ion-padding-end ion-padding-bottom ion-card-description">
        <ion-label color="medium">รายละเอียด
        </ion-label>
      </ion-card>

      <hr class="ion-no-margin">
    </ng-container>

    <ng-container>
      <ion-item color="tertiary">

        <ion-icon name="alert-circle-outline" color="medium"></ion-icon>
        <ion-label class="ion-padding-start" color="medium"><b>ชื่อเงื่อนไข</b>
        </ion-label>
      </ion-item>

      <ion-card color="tertiary" class="ion-padding-end ion-padding-bottom ion-card-description">
        <ion-label color="medium">รายละเอียด
        </ion-label>
        <p class="ion-no-margin">
          <ion-text color="danger">สถานะรออนุมัติ</ion-text>
        </p>
      </ion-card>

      <hr class="ion-no-margin">
    </ng-container>

    <ng-container>
      <ion-item color="tertiary">

        <ion-icon name="checkmark-circle-outline" color="primary"></ion-icon>
        <ion-label class="ion-padding-start" color="primary"><b>ชื่อเงื่อนไข</b>
        </ion-label>
      </ion-item>

      <ion-card color="tertiary" class="ion-padding-end ion-padding-bottom ion-card-description">
        <ion-label color="primary">รายละเอียด
        </ion-label>
      </ion-card>

      <hr class="ion-no-margin">
    </ng-container>

  </ion-list>

</ion-content>
<ion-footer>
  <ion-button color="danger" class="ion-no-margin" expand="full" type="submit">ทำรายการที่ไม่ผ่านเงื่อนไข</ion-button>
</ion-footer>