<ion-header>
  <ion-toolbar>
    <ion-title>โอน - จ่าย</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-list-header lines="none" mode="md">
      <ion-label>เลือกรูปแบบบัญชี</ion-label>
    </ion-list-header>
    <ion-item color="tertiary" routerLink="/transfer-to">
      <ion-avatar slot="start">
        <img src="assets/imgs/promtpayicon.png">
      </ion-avatar>
      <ion-label><b>พร้อมเพย์</b></ion-label>
    </ion-item>
    <ion-item color="tertiary" class="ion-margin-top" (click)="onSelectBank()">
      <ion-label><b>บัญชีธนาคาร</b></ion-label>
    </ion-item>
  </ion-list>
</ion-content>