<ion-header>
  <ion-toolbar>
    <ion-title>เลือกธนาคาร</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios" color="tertiary">

  <form [formGroup]="fg">
    <ion-list lines="inset">
      <ion-list-header mode="md">
        <ion-label>เลือกธนาคาร</ion-label>
      </ion-list-header>
      <ion-item *ngFor="let item of data" (click)="onSelectItem(item)" color="tertiary">
        <ion-avatar slot="start">
          <img [src]="item.logo">
        </ion-avatar>
        <ion-label>
          <b>{{ item.name }}</b>
          <ion-text color="medium">
            <h3>{{ item.id }}</h3>
          </ion-text>
        </ion-label>

        <ion-label slot="end" (click)="onSave(item)">เลือก</ion-label>
        <!-- <img width="20" height="20" class="qr"
          [src]="isChecked(item) ? 'assets/imgs/correctblue.png' : 'assets/imgs/correctgray.png'" /> -->
      </ion-item>
    </ion-list>
  </form>

</ion-content>

<ion-footer class="ion-no-border">
  <!-- <form (ngSubmit)="onSave()"> -->
  <ion-item>
    <ion-label slot="end" id="app-form-submit" color="dark" ion-button expand="full" no-margin (click)="CloseDialog()">
      ปิด
    </ion-label>
  </ion-item>
  <!-- </form> -->
</ion-footer>